h1{
    border: 2px solid red;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-image: linear-gradient(pink,yellow);
    color: blue;
}
.picture{
    height: 200px;
    width: 200px;
    border: 2px solid blue;
    border-radius: 10px;
    box-shadow: 0px 0px 10px red;
    transition: all 1s;
}
.container{
    /* border: 2px solid; */
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    padding-left: 150px;

}
img:hover{
    transform: scale(1.2);
}
#myimage{
    border: 2px solid ;
    border-radius: 50%;
    margin: 100px auto;
    margin-left: 350px;
    height: 200px;
    width: 200px;
    transition: all 1s;
}
.myDetails p{
    width: 400px;
    padding: 50px;
    font-size: 25px;
    line-height: 60px;
    margin-top: 70px;
    margin-right: 150px;
}
#aboutMe{
    /* border: 2px solid; */
    display: flex;
}